body {
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 30px;
}

#intro{
    background-color: rgb(182, 220, 238);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}
#origami1{
    background-color: lightgreen;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}
#origami2{
    background-color: lightslategray;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}
.line {
    height: 20px;
    background-color: #000;
    width: 100%;
    margin-bottom: 0px;
    margin-left: 50% auto;
}